@font-face {
    font-family: 'JosefinSlab-Bold';
    src: url('/assets/fonts/JosefinSlab-Bold.ttf') format('woff2'),
         url('/assets/fonts/JosefinSlab-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ECEEF2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2% auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
}

#logo-text {
    margin-left: 10px;
    font-size: 36px;
    font-family: 'JosefinSlab-Bold', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #AAA4AB;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: white;
    width: 30%;
}

.search input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

.search img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
}

.weather-card {
    position: relative;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 20px;
    width: 45%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-card p {
    margin: 5px 0;
}

#weather-description {
    margin-left: 3vh;
    color: #E7F4FA;
}

#city-country {
    color: #E7F4FA;
    font-size: 1vw;
    font-weight: bold;
}

#temperature {
    color: #E7F4FA;
    font-size: 5vh;
    font-weight: medium;
}

#wind-speed {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

#humidity {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

#pressure {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

.weather-now {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-details img {
    width: 3vh;
    height: 3vh;
    margin-right: 10px;
}

.hourly-forecast {
    display: flex;
    justify-content: center; /* Center the forecast container */
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.forecast-container {
    display: flex;
    justify-content: center; /* Center the forecast items within the container */
    width: 100%; /* Ensure it takes full width */
}


.one-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.btn-left, .btn-right {
    background: #ECEEF2;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-left:hover, .btn-right:hover {
    background: #d4d4d4;
}

.btn-near-with-me button {
    background: #ECEEF2;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-near-with-me button:hover {
    background: #d4d4d4;
}

.time-now {
    text-align: left;
    color: #AAA4AB; 
    font-size: 0.78125vц; 
    margin-top: 10px; 
}

