@font-face {
    font-family: 'JosefinSlab-Bold';
    src: url('/assets/fonts/JosefinSlab-Bold.ttf') format('woff2'),
         url('/assets/fonts/JosefinSlab-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ECEEF2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2% auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
}

#logo-text {
    margin-left: 10px;
    font-size: 36px;
    font-family: 'JosefinSlab-Bold', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #D1C9D2;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: white;
    width: 30%;
}

.search input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

.search img {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.future-container {
    display: flex;
    justify-content: space-between; /* Распределение виджетов по горизонтали */
    align-items: center; /* Вертикальное выравнивание по центру */
    gap: 2vw; /* Расстояние между виджетами */
}

.next-week-widget, .tomorrow-widget {
    display: flex;
    align-items: center;
    border-radius: 35px; /* Фиксированный радиус */
    background-color: #F4F4F4;
    padding: 0.5vw 1vw; /* Относительные отступы */
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1); /* Относительная тень */
    width: 35.5vw; /* Относительная ширина */
}

.next-week-widget img, .tomorrow-widget img {
    width: 2.2vw; /* Относительный размер */
    height: 2.2vw; /* Относительный размер */
    border-radius: 50%;
}

.next-week-widget .icon-background, .tomorrow-widget .icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.84vw; /* Относительный размер */
    height: 2.84vw; /* Относительный размер */
    border-radius: 50%;
    background-color: #3C80E4;
    margin-right: 2vw; /* Относительный отступ */
}

.next-week-widget p, .tomorrow-widget p {
    margin: 0;
    font-size: 1.065vw; /* Относительный размер шрифта */
    color: #333;
}


.weather-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
}

.weather-card {
    position: relative;
    background: #000;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    padding: 20px;
    width: 45%;
}

.weather-card-2 {
    position: relative;
    margin: 0 20px;
    padding: 20px;
    height: 39.1vh;
    width: 45%;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px; /* Закругленные углы */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-card p {
    margin: 5px 0;
}

#weather-description {
    margin-left: 3vh;
    color: #E7F4FA;
}

#city-country {
    color: #E7F4FA;
    font-size: 1vw;
    font-weight: bold;
}

#temperature {
    color: #E7F4FA;
    font-size: 5vh;
    font-weight: medium;
}

#wind-speed {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

#humidity {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

#pressure {
    color: #E7F4FA;
    font-size: 1.67vh;
    font-weight: bold;
}

.weather-now {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-details img {
    width: 3vh;
    height: 3vh;
    margin-right: 10px;
}

.hourly-forecast {
    display: flex;
    justify-content: center; /* Center the forecast container */
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.forecast-container {
    display: flex;
    justify-content: center; /* Center the forecast items within the container */
    width: 100%; /* Ensure it takes full width */
}


.one-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.btn-near-with-me button {
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align items to the center */
    justify-content: center; /* Center the items */
    background: rgba(209, 201, 210, 0.4); /* 40% transparency */
}

#near-btn {
    margin-top: 2vh;
}

.geo-icon {
    margin-right: 5px; /* Add some space between the icon and the text */
}

#text-near {
    color: #E7F4FA;
}

.btn-near-with-me button:hover {
    background: rgba(209, 201, 210, 0.4); /* 40% transparency on hover as well */
    transform: scale(1.05);
}

.time-now {
    text-align: left;
    color: #D1C9D2; 
    font-size: 0.78125v; 
}


/* Weather Widget for 7 days */
.weather-widget {
    background: #fff;
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    text-align: left;
}

.weather-widget h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
}

.weather-days {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 0 10px;
}

.weather-day {
    flex: 1;
    background: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.weather-day:hover {
    transform: scale(1.05);
}

.weather-day.yesterday {
    color: #ff5a5a;
    font-weight: bold;
}

.weather-day h2 {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}

.weather-day p.date {
    font-size: 0.8em;
    color: #888;
    margin: 0 0 10px 0;
}

.weather-day img.weather-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.weather-day p.temperature {
    font-size: 1.2em;
    color: #222;
    margin: 10px 0;
}

.weather-day p.description {
    font-size: 0.9em;
    color: #777;
    margin: 0;
}

.details {
    display: flex;
    background-color: #B7BFCA;
    
}


/* Container details */

.details {
    background: #b0b8c1; /* Цвет фона секции */
    color: #333; /* Основной цвет текста */
    padding: 2vh; /* Отступы внутри секции */
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-between; /* Равномерное распределение пространства между элементами */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    margin-top: 10vh;
    width: 100%;
}

.details .column {
    flex: 2; /* Каждая колонка занимает равное пространство */
    
}

.details .column h3 {
    font-size: 1.2em; /* Размер шрифта заголовков */
    margin-bottom: 3vh; /* Отступ снизу у заголовков */
    font-weight: bold; /* Жирное начертание заголовков */
}

.details .column ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
    margin: 0; /* Убираем внешние отступы у списка */
}

.details .column ul li {
    margin-bottom: 3vh; /* Отступ снизу у элементов списка */
}

.details .column ul li a {
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.details .column ul li a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
}

.details .column .contact-info {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
    gap: 1vh; /* Отступы между элементами */
}

.details .column .contact-info img {
    margin-left: 1vh;
    width: 7vh; /* Ширина изображений */
    height: auto; /* Автоматическая высота изображений */
}

.details .column .contact-info p {
    margin: 0; /* Убираем внешние отступы у параграфов */
}

#phone {
    font-weight: bold;
}