

body {
    font-family: Arial, sans-serif;
    background-color: #ECEEF2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2% auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
